@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
:root {
  --white: #fff;
  --black: --#000;
  --lightGray: #f8f8f8;
  --darkGray: #333333;   
  --lightPurple: #e4e1fc;
  --lightBlue: #e1e9f3;
  --brightBlue: #2764fe;
  --brightRed: #f1414f;
  --slightPurple: '#EAF0FF'
}

body {
  color: var(--lightGray);
  background: var(--white);
  font-family: "MetropolisRegular";
}

/* ----------- font declaration  ------------ */

@font-face {
  font-family: "MetropolisBold";
  src: url("/fonts/MetropolisBold.eot");
  src: url("/fonts/MetropolisBold.eot") format("embedded-opentype"),
    url("/fonts/MetropolisBold.woff2") format("woff2"),
    url("/fonts/MetropolisBold.woff") format("woff"),
    url("/fonts/MetropolisBold.ttf") format("truetype"),
    url("/fonts/MetropolisBold.svg#MetropolisBold") format("svg");
}

@font-face {
  font-family: "MetropolisSemiBold";
  src: url("/fonts/MetropolisSemiBold.eot");
  src: url("/fonts/MetropolisSemiBold.eot") format("embedded-opentype"),
    url("/fonts/MetropolisSemiBold.woff2") format("woff2"),
    url("/fonts/MetropolisSemiBold.woff") format("woff"),
    url("/fonts/MetropolisSemiBold.ttf") format("truetype"),
    url("/fonts/MetropolisSemiBold.svg#MetropolisSemiBold") format("svg");
}

@font-face {
  font-family: "MetropolisMedium";
  src: url("/fonts/MetropolisMedium.eot");
  src: url("/fonts/MetropolisMedium.eot") format("embedded-opentype"),
    url("/fonts/MetropolisMedium.woff2") format("woff2"),
    url("/fonts/MetropolisMedium.woff") format("woff"),
    url("/fonts/MetropolisMedium.ttf") format("truetype"),
    url("/fonts/MetropolisMedium.svg#MetropolisMedium") format("svg");
}

@font-face {
  font-family: "MetropolisRegular";
  src: url("/fonts/MetropolisRegular.eot");
  src: url("/fonts/MetropolisRegular.eot") format("embedded-opentype"),
    url("/fonts/MetropolisRegular.woff2") format("woff2"),
    url("/fonts/MetropolisRegular.woff") format("woff"),
    url("/fonts/MetropolisRegular.ttf") format("truetype"),
    url("/fonts/MetropolisRegular.svg#MetropolisRegular") format("svg");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.task-icon:hover .inner-icon svg { fill: #2764FE; }

.total-height { height: calc(86dvh - 80px); }

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar { display: none; }

/* Hide scrollbar for IE, Edge and Firefox */
* { -ms-overflow-style: none;  /* IE and Edge */ scrollbar-width: none;  /* Firefox */ }


/* ------- loginSlider ------ */
.slick-slider {opacity:0;}
.slick-slider.slick-initialized{opacity:1;}
.slick-dots {position:relative !important; bottom:0px !important;}
.loginSlider .slick-dots div {height:6px;width:6px;}
.loginSlider .slick-dots .slick-active div { width:24px; }
.loginSlider .slick-list {padding-bottom: 35px;}

@media (max-width:1199px) {
/* .slick-dots {bottom:-46px !important;} */
}


/* ---------- react-time-picker css ---------- */
.react-time-picker__wrapper { border: none !important; }
input:focus { outline: 0; box-shadow: none !important; } 
.react-time-picker__clock-button svg { stroke: #6C6B6B !important; stroke-width: 1.5;}

/* -------- input time icons color ------- */
.only-time input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(20%) sepia(0%) saturate(50%) hue-rotate(130deg) brightness(140%) contrast(00%);
  width: 20px;
  height: 20px;
  -webkit-filter: invert(20%) sepia(0%) saturate(50%) hue-rotate(130deg) brightness(140%) contrast(00%);
}

/* ---------- custom date range picker --------- */
/* text color  */
.custom-date-range-picker .react-datepicker__day {margin: 0 !important;height: 36px !important; width: 36px !important; font-family: "MetropolisRegular" !important; color: #293050 !important; font-size: 16px !important; line-height: 125% !important;display: inline-flex !important; justify-content: center !important; align-items: center !important;}
.custom-date-range-picker .react-datepicker__day--today {color: var(--brightBlue) !important;font-family: "MetropolisRegular" !important;background-color: transparent !important; }
/* date piscker designing */
.custom-date-range-picker .react-datepicker {border: none !important;}
.custom-date-range-picker .react-datepicker__header {background-color:#fff !important; border-bottom: none !important;padding: 0 !important;}
.custom-date-range-picker .react-datepicker__navigation--previous { right: 80px !important; left: unset !important;}
.custom-date-range-picker .react-datepicker__navigation--next { right: 40px !important; left: unset !important;}
.custom-date-range-picker .react-datepicker__header  h2 {text-align: start;padding: 8px 0 8px 9px !important; color: #293050 !important; font-family: "MetropolisSemiBold" !important; font-size: 16px !important; line-height: 125% !important;padding-left: 9px;margin-bottom: 12px !important;}
.custom-date-range-picker .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {border-color: #293050 !important; border-width: 2px 2px 0 0 !important; height: 10px !important; width: 10px !important;}
.custom-date-range-picker .react-datepicker__day--outside-month {color: #181e3051 !important; opacity: 30 !important;}
.custom-date-range-picker .react-datepicker__month {margin: 0 !important;}
.custom-date-range-picker .react-datepicker__day-names {margin-bottom:0px !important ; padding: 12px 0 !important;}
.custom-date-range-picker .react-datepicker__day-name {color: #7B8199 !important; font-family: "MetropolisRegular" !important; font-size: 16px !important; line-height: 125% !important;width: 32px !important;}
/* --------- day start and end css -------- */
.custom-date-range-picker .react-datepicker__day--in-range { border-radius: 0 !important; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; -ms-border-radius: 0 !important; -o-border-radius: 0 !important; }
.custom-date-range-picker .react-datepicker__day--range-start { position: relative !important; background-color: var(--brightBlue) !important; color: #fff !important; border-top-left-radius:20px !important;border-bottom-left-radius: 20px !important; }
.custom-date-range-picker .react-datepicker__day--range-start::after, .react-datepicker__day--range-end::after { position: absolute; height: 28px; width: 28px; background-color: #2764FE; content: ''; top: 50%; left: 50%; bottom: 0; right: 0; z-index: -1; transform: translate(-50%, -50%); border-radius:100% !important ; -webkit-border-radius:100% !important ; -moz-border-radius:100% !important ; -ms-border-radius:100% !important ; -o-border-radius:100% !important ; }
.custom-date-range-picker .react-datepicker__day--range-end { position: relative !important;   color: #fff !important; border-top-right-radius:20px !important; border-bottom-right-radius: 20px !important;}
.custom-date-range-picker .react-datepicker__day--range-end::after { position: absolute; height: 28px; width: 28px; background-color: #2764FE; content: ''; top: 50%; left: 50%; bottom: 0; right: 0; z-index: -1; transform: translate(-50%, -50%); border-radius:100% !important ; -webkit-border-radius:100% !important ; -moz-border-radius:100% !important ; -ms-border-radius:100% !important ; -o-border-radius:100% !important ; }

/* ------- backgrounds and colors --------------  */
.custom-date-range-picker .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range { background-color:#D9ECFF !important; position: relative !important; border-radius: 0 ; -webkit-border-radius: 0 ; -moz-border-radius: 0 ; -ms-border-radius: 0 ; -o-border-radius: 0 ; }
.custom-date-range-picker .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {z-index: 2 !important;}

@media (max-width:767px) {
  .custom-date-range-picker .react-datepicker__day{font-size: 12px !important;}
  .custom-date-range-picker .react-datepicker__header  h2{font-size: 12px !important;}
  .custom-date-range-picker .react-datepicker__day-name{font-size: 12px !important;}
  .custom-date-range-picker .react-datepicker__header  h2 {margin-bottom: 4px !important;}
  .custom-date-range-picker .react-datepicker__navigation--previous { right: 30px !important; left: unset !important;}
  .custom-date-range-picker .react-datepicker__navigation--next { right: 0px !important; left: unset !important;}
}


/* --------- selcet default arrow hide --------- */
.arrow-hide select { -webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: ''; }


.notesFilter-modal .react-time-picker__wrapper { flex-direction: row-reverse !important; }
.notesFilter-modal .react-time-picker__clock-button svg {stroke: #2764FE !important; height: 18px; width: 18px; stroke-width: 1;}
.notesFilter-modal .react-time-picker__button {padding: 0 4px 0 0;}


/* -------- calender css  -------- */
/* calender view page */
.fc-scrollgrid  { background-color: white !important; border-radius: 16px; -webkit-border-radius: 16px; -moz-border-radius: 16px; -ms-border-radius: 16px; -o-border-radius: 16px; overflow: hidden; border: none !important; }
.fc-h-event {background-color: #E4EAF9 !important; border: #E4EAF9;}
.fc-daygrid-day-number {  font-family: "MetropolisMedium";font-size: 12px; color: var(--darkGray); line-height: 100% !important;}
.fc-col-header  thead tr {border-bottom: 1px solid #DFDFDF;}
.fc-col-header-cell .fc-day .fc-day-thu {border-color: #f1f1f1;}
.fc-col-header-cell-cushion {color:rgba(51, 51, 51, 0.50) !important;
text-align: center;font-family: "MetropolisMedium"  !important;font-size: 12px !important; padding: 15px 0 !important; line-height: 100% !important; }
.fc-col-header .fc-theme-standard td, .fc-theme-standard th {border:none !important;}
.fc-theme-standard td, .fc-theme-standard th {border: 1px solid #f1f1f1;}
.fc .fc-toolbar.fc-header-toolbar { margin-bottom: 16px !important; }
.fc-scrollgrid-sync-table tr td {padding: 8px !important;}
.fc .fc-daygrid-day-number {padding: 0 !important;}
.fc .fc-daygrid-day-frame {display: flex; flex-direction: column;gap: 6px;}
.fc-h-event .fc-event-title {width: 100%; max-width: 90% !important; overflow: hidden !important; text-overflow: ellipsis !important;}
.fc-scrollgrid-sync-table tbody tr .fc-theme-standard td:last-child {border-right:none !important;}
.fc table {color: var(--darkGray); font-size: 10px !important; font-family: "MetropolisMedium" !important;}
.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {width: 100%;}
.fc-list-event-title {display: flex; gap: 4px; align-items: center; }

/* ----- task today.tomorrow..... */
.fc-v-event {background-color: #E4E1FC !important; border-color: #E4E1FC !important;}
.fc .fc-daygrid-day.fc-day-today {background-color: transparent !important;}
.fc-timegrid-col { background-color: transparent !important; }
.fc-col-header-cell-cushion {width: 100% !important;}
.fc-timegrid-axis {display: none;}
.fc-col-header-cell-cushion {padding: 16px 20px !important;}
.fc-scrollgrid-section .fc-scrollgrid-section-body  {color: #6C6B6B !important; display: none !important;}
.fc-theme-standard .fc-list {border: none !important;}

/* rich text editor */
/* .quill { border-radius:12px !important; -webkit-border-radius:12px !important; -moz-border-radius:12px !important; -ms-border-radius:12px !important; -o-border-radius:12px !important; border: 1px solid #DFDFDF !important; overflow: hidden;} */
.ql-toolbar.ql-snow { background-color: #EAF0FF;border: none !important;}
.ql-container.ql-snow {border: none !important;}