@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: --#000;
  --lightGray: #f8f8f8;
  --darkGray: #333333;   
  --lightPurple: #e4e1fc;
  --lightBlue: #e1e9f3;
  --brightBlue: #2764fe;
  --brightRed: #f1414f;
  --slightPurple: '#EAF0FF'
}

body {
  color: var(--lightGray);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "MetropolisBold";
  src: url("/fonts/MetropolisBold.eot");
  src: url("/fonts/MetropolisBold.eot") format("embedded-opentype"),
    url("/fonts/MetropolisBold.woff2") format("woff2"),
    url("/fonts/MetropolisBold.woff") format("woff"),
    url("/fonts/MetropolisBold.ttf") format("truetype"),
    url("/fonts/MetropolisBold.svg#MetropolisBold") format("svg");
}

@font-face {
  font-family: "MetropolisSemiBold";
  src: url("/fonts/MetropolisSemiBold.eot");
  src: url("/fonts/MetropolisSemiBold.eot") format("embedded-opentype"),
    url("/fonts/MetropolisSemiBold.woff2") format("woff2"),
    url("/fonts/MetropolisSemiBold.woff") format("woff"),
    url("/fonts/MetropolisSemiBold.ttf") format("truetype"),
    url("/fonts/MetropolisSemiBold.svg#MetropolisSemiBold") format("svg");
}

@font-face {
  font-family: "MetropolisMedium";
  src: url("/fonts/MetropolisMedium.eot");
  src: url("/fonts/MetropolisMedium.eot") format("embedded-opentype"),
    url("/fonts/MetropolisMedium.woff2") format("woff2"),
    url("/fonts/MetropolisMedium.woff") format("woff"),
    url("/fonts/MetropolisMedium.ttf") format("truetype"),
    url("/fonts/MetropolisMedium.svg#MetropolisMedium") format("svg");
}

@font-face {
  font-family: "MetropolisRegular";
  src: url("/fonts/MetropolisRegular.eot");
  src: url("/fonts/MetropolisRegular.eot") format("embedded-opentype"),
    url("/fonts/MetropolisRegular.woff2") format("woff2"),
    url("/fonts/MetropolisRegular.woff") format("woff"),
    url("/fonts/MetropolisRegular.ttf") format("truetype"),
    url("/fonts/MetropolisRegular.svg#MetropolisRegular") format("svg");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.task-icon:hover .inner-icon svg {
  fill: #2764FE;
}

.total-height {
  height: calc(86dvh - 80px);
  /* height: calc(100dvh - 12.10%); */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overview::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overview {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}


/* ------- loginSlider ------ */
.slick-slider {opacity:0;}
.slick-slider.slick-initialized{opacity:1;}
.slick-dots {position:relative !important; bottom:0px !important;}
.loginSlider .slick-dots div {height:6px;width:6px;}
.loginSlider .slick-dots .slick-active div {
  width:24px;
}
.loginSlider .slick-list {padding-bottom: 35px;}

@media (max-width:1199px) {
/* .slick-dots {bottom:-46px !important;} */
}


/* ---------- react-time-picker css ---------- */
.react-time-picker__wrapper { border: none !important; }
input:focus { outline: 0; box-shadow: none !important; } 
.react-time-picker__clock-button svg { stroke: #6C6B6B !important; stroke-width: 1.5;}

/* -------- input time icons color ------- */
.only-time input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(20%) sepia(0%) saturate(50%) hue-rotate(130deg) brightness(140%) contrast(00%);
  width: 20px;
  height: 20px;
}
/* -

-------- selcet default arrow hide --------- */
.arrow-hide select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }


.notesFilter-modal .react-time-picker__wrapper { flex-direction: row-reverse !important; }
.notesFilter-modal .react-time-picker__clock-button svg {stroke: #2764FE !important; height: 18px; width: 18px; stroke-width: 1;}
.notesFilter-modal .react-time-picker__button {padding: 0 4px 0 0;}


/* -------- calender css  -------- */
/* #E4EAF9 */
.fc-scrollgrid  { background-color: white !important; border-radius: 16px; -webkit-border-radius: 16px; -moz-border-radius: 16px; -ms-border-radius: 16px; -o-border-radius: 16px; overflow: hidden; border: none !important; }
.fc-h-event {background-color: #E4EAF9 !important; border: #E4EAF9;}
.fc-daygrid-day-number {  font-family: "MetropolisMedium";font-size: 12px; color: var(--darkGray); line-height: 100% !important;}
.fc-col-header  thead tr {border-bottom: 1px solid #DFDFDF;}
.fc-col-header-cell .fc-day .fc-day-thu {border-color: #f1f1f1;}
.fc-col-header-cell-cushion {color:rgba(51, 51, 51, 0.50) !important;
text-align: center;font-family: "MetropolisMedium"  !important;font-size: 12px !important; padding: 15px 0 !important; line-height: 100% !important; }
.fc-col-header .fc-theme-standard td, .fc-theme-standard th {border:none !important;}
.fc-theme-standard td, .fc-theme-standard th {border: 1px solid #f1f1f1;}
.fc .fc-toolbar.fc-header-toolbar { margin-bottom: 16px !important; }
.fc-scrollgrid-sync-table tr td {padding: 8px !important;}
.fc .fc-daygrid-day-number {padding: 0 !important;}
.fc .fc-daygrid-day-frame {display: flex; flex-direction: column;gap: 6px;}
.fc-h-event .fc-event-main {display: flex; flex-direction: row; gap: 6px;padding: 8px 12px;align-items: center;}
.fc-h-event .fc-event-main span {color: var(--darkGray) !important; font-size: 10px !important; font-family: "MetropolisMedium" !important; text-align: center; width: 100%; max-width: 90% !important; overflow: hidden !important; text-overflow: ellipsis !important;}
.fc-h-event .fc-event-title {width: 100%; max-width: 90% !important; overflow: hidden !important; text-overflow: ellipsis !important;}
.fc-scrollgrid-sync-table tbody tr .fc-theme-standard td:last-child {border-right:none !important;}
.fc table {color: var(--darkGray); font-size: 10px !important; font-family: "MetropolisMedium" !important;}
.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {width: 100%;}
.fc-list-event-title {display: flex; gap: 4px; align-items: center; }